{{!< default}}

<div class="hero container">
	<img class="logo" src="/images/logo.png">
	<div class="text-layer">
		<h1 class="tag">The <em>Smartest</em><br> working shop in <br>the steel business</h1>
		<p class="tag-sub">ONE “B” FOR BRAINS; ONE “B” FOR BRAWN.</p>
	</div>
	<div class="actions text-center">
		<div>
			<img src="/images/house.png">
			<p>About B&amp;B</p>
		</div>
		<div>
			<img src="/images/contact.png">
			<p>Contact Us</p>
		</div>
	</div>
</div>

<div class="memberships container alt">
	<div class="row text-center">
		<img id="aisc" src="/images/aisc.png">
		<img id="dundalk" src="/images/dundalk.png">
		<img id="asa" src="/images/asa.png">
		<img id="aws" src="/images/aws.png">
	</div>
</div>

<div class="about container section">
	<h2>Our Company</h2>

	<div class="row">
		<div class="col-xs-8">
			<p>We took the <em>hardest working</em> people in the steel business and made them <em>smarter.</em></p>
		</div>
		<div class="col-xs-4">
			<img src="/images/brain.png">
		</div>
	</div>

	<div class="row">
		<div class="col-xs-4">
			<img src="/images/flame.png">
		</div>
		<div class="col-xs-8">
			<p>We gave them big, <em>powerful machines</em> and a 35,000 square foot shop.</p>
		</div>
	</div>

	<div class="row text-center">
		<img class="aisc-big" src="/images/aisc-big.png">
		<p>Add on AISC membership, a written quality control program, and the ability to electronically import designs straight from the engineers and what you get is one of the most technology-driven steel fabrication shops in the region.</p>
	</div>
</div>

<div class="testimonials section alt">
	<h2>What our customers are saying</h2>

</div>
