{{!< default}}

<div class="hero container-fluid">
	<img class="logo" src="/images/logo.png">
	<div class="text-layer">
		<h1 class="tag">The <em>Smartest</em><br> working shop in <br>the steel business</h1>
		<p class="tag-sub">ONE “B” FOR BRAINS; ONE “B” FOR BRAWN.</p>
	</div>
	<div class="actions text-center">
		<div>
			<img src="/images/house.png">
			<a href="#">About B&amp;B</a>
		</div>
		<div>
			<img src="/images/contact.png">
			<a href="#">Contact Us</a>
		</div>
	</div>
</div>

<div class="memberships container-fluid alt">
	<div class="row text-center">
		<img id="aisc" src="/images/aisc.png">
		<img id="dundalk" src="/images/dundalk.png">
		<img id="asa" src="/images/asa.png">
		<img id="aws" src="/images/aws.png">
	</div>
</div>

<div class="about container-fluid section">
	<h2>Our Company</h2>

	<div class="row">
		<div class="col-xs-8">
			<p>We took the <em>hardest working</em> people in the steel business and made them <em>smarter.</em></p>
		</div>
		<div class="col-xs-4">
			<img src="/images/brain.png">
		</div>
	</div>

	<div class="row">
		<div class="col-xs-4">
			<img src="/images/flame.png">
		</div>
		<div class="col-xs-8">
			<p>We gave them big, <em>powerful machines</em> and a 35,000 square foot shop.</p>
		</div>
	</div>

	<div class="row text-center">
		<img class="aisc-big" src="/images/aisc-big.png">
		<p>Add on AISC membership, a written quality control program, and the ability to electronically import designs straight from the engineers and what you get is one of the most technology-driven steel fabrication shops in the region.</p>
	</div>
</div>

<div class="testimonials section alt">
	<h2>What our customers are saying</h2>
	<div id="carousel-testimonials" class="carousel slide" data-ride="carousel">
	  <!-- Indicators -->
	  <ol class="carousel-indicators">
	    <li data-target="#carousel-testimonials" data-slide-to="0" class="active"></li>
	    <li data-target="#carousel-testimonials" data-slide-to="1"></li>
	    <li data-target="#carousel-testimonials" data-slide-to="2"></li>
	  </ol>

	  <!-- Wrapper for slides -->
	  <div class="carousel-inner" role="listbox">
	    <div class="item active text-center testimonial-wrapper">
				<p class="testimonial">&quot;On time and on budget. They came in and did their job without anyone having to hold their hand. Great team.&quot;</p>
				<p class="testimonial-source">Joe Customer - Ft. Howard, MD</p>
	    </div>
			<div class="item text-center testimonial-wrapper">
				<p class="testimonial">&quot;Maecenas faucibus mollis interdum. Cras mattis consectetur purus sit amet fermentum.&quot;</p>
				<p class="testimonial-source">Bob Barker - Columbia, MD</p>
	    </div>
			<div class="item text-center testimonial-wrapper">
				<p class="testimonial">&quot;Cras justo odio, dapibus ac facilisis in, egestas eget quam. Curabitur blandit tempus porttitor.&quot;</p>
				<p class="testimonial-source">Silva Do - Baltimore, MD</p>
	    </div>
	  </div>

	</div>

</div>

<div class="numbers section">
	<h2>Some numbers we are proud of</h2>
	<div class="row">
		<div class="col-xs-6">
			<p class="number">100%</p>
			<p class="number-text">On time completion</p>
		</div>
		<div class="col-xs-6">
			<p class="number">31</p>
			<p class="number-text">Major projects completed</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			<p class="number">28</p>
			<p class="number-text">In-house team</p>
		</div>
		<div class="col-xs-6">
			<p class="number">48</p>
			<p class="number-text">Fish caught</p>
		</div>
	</div>

</div>

<div class="team section alt">
	<h2>Years of experience working as a team</h2>
</div>

<div id="footer" class="section">
	<h2>Let's work together</h2>
	<p>What email should we use to contact you?</p>
	<div class="input-group input-group-md form">
		<input id="email" class="form-control" placeholder="you@email.com">
		<span class="input-group-btn">
			<button id="emailsubmit" class="btn btn-default btn-primary" type="button">Send</button>
		</span>
	</div>
	<p>- or call us -</p>
	<p class="phone">410-388-1100</p>
	<div class="row text-center">
		<a href="#header">Back to the top</a>
	</div>
</div>
