{{!< default}}

<div class="hero container">
	<img class="logo" src="/images/logo.png">
	<div class="text-layer">
		<p class="tag">The <em>Smartest</em><br> working shop in <br>the steel business</p>
		<p class="tag-sub">ONE “B” FOR BRAINS; ONE “B” FOR BRAWN.</p>
	</div>
	<div class="actions text-center">
		<div class="about">
			<img src="/images/house.png">
			<p>About B&amp;B</p>
		</div>
		<div class="contact">
			<img src="/images/contact.png">
			<p>Contact Us</p>
		</div>
	</div>
</div>

<div class="memberships container">
	<div class="row text-center">
		<img id="aisc" src="/images/aisc.png">
		<img id="dundalk" src="/images/dundalk.png">
		<img id="asa" src="/images/asa.png">
		<img id="aws" src="/images/aws.png">
	</div>


</div>
