/* _base.scss */
@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300);

html, body {
  margin: 0;
  background-color: #000;
  display: flex;
  justify-content: center;
}

html, body, #app, .app {
  min-height: 100%;
  font-family: 'Raleway', sans-serif;
}

p em {
  font-weight: bold;
  font-style: normal;
}
