.home-page {
  position: relative;

  .welder-image {
    width: 100%;
    height: auto;
  }

  .copy {
    position: absolute;
    color: #fff;
    text-align: center;

    h1 {
      font-family: 'Raleway', sans-serif;
      font-weight: 300;
    }

    p {
      font-weight: 300;
      font-family: 'Raleway', sans-serif;
      margin-bottom: 2rem;
    }
  }

  .steel-day-link {
    color: #fff;
    font-size: 2rem;
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
  }
}


/* iPhone 5 */
@media screen and (min-width: 320px) {
  .copy {
    width: 70%;
    left: 40px;
    top: 220px;
    h1 {
      font-size: 1.5rem;
    }
  }
}

/* iPhone 6 */
@media screen and (min-width: 375px) {
  .copy {
    width: 70%;
    left: 50px;
    top: 280px;
    h1 {
      font-size: 1.5rem;
    }
  }
}

/* Tablet */
@media screen and (min-width: 768px) {
  .copy {
    width: 24rem;
    top: 318px;
    left: 11px;

    h1 {
      font-size: 2.0rem;
      margin-bottom: 2rem;
    }
  }
}

/* Desktop */
@media screen and (min-width: 1024px) {
  .copy {
    width: 24rem;
    top: 390px;
    left: 121px;

    h1 {
      font-size: 2.5rem;
      margin-bottom: 2rem;
    }
  }
}

/* HD */
@media screen and (min-width: 1440px) {
  .home-page {
    .welder-image {
      position: absolute;
      top: -90px;
      right: -130px;
      width: 90%;
    }

    .copy {
      width: 34rem;
      top: 270px;
      left: 111px;

      h1 {
        font-family: 'Raleway', sans-serif;
        font-weight: 300;
        font-size: 2.5rem;
        margin-bottom: 2rem;
      }
    }
  }
}
