@import "toolkit";

.navigation {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  
  li {
    display: inline-block;
    margin-left: 2rem;

    a {
      text-decoration: none;
      color: #fff;
    }
    &.-selected a {
      color: #FF5D5D;
    }
  }
}
