@import "toolkit";

.navigation {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;

  li {
    display: inline-block;
    margin-left: 2rem;

    a {
      text-decoration: none;
      color: #fff;
    }
    &.-selected a {
      color: #FF5D5D;
    }
  }
}

/* iPhone 6 */
@media screen and (min-width: 300px) {
  .mobile-nav-button {
    display: block;
    position: absolute;
    cursor: pointer;
    width: 30px;
    height: 22px;
  }

  .navigation {
    display: none;
  }

  .wrapper {
    position: relative;
    height: 100px;
    width: 40px;
    padding-top: 20px;
  }
}

/* Tablet */
@media screen and (min-width: 768px) {
  .mobile-nav-button {
    display: none;
  }

  .navigation {
    display: block;
  }

  .wrapper {
    width: auto;
    height: auto;
  }
}

/* Desktop */
@media screen and (min-width: 1024px) {

}

/* HD */
@media screen and (min-width: 1440px) {
}
