@import url(http://fonts.googleapis.com/css?family=Lato:100,400);

body {
	font-family: 'Lato', sans-serif;
}

#header {
	margin-top: 30px;
}

#footer {
	margin-top: 30px;
	padding-top: 30px;
	color: $gray-light;
}

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}

.hero {
	height: 700px;
	background-color: #000;
	background-image: url('/images/welder.png');
	background-repeat: no-repeat;
	background-position-x: 50%;
	background-position-y: 100px;
	padding: 30px;

	.text-layer {
		background-color: rgba(0,0,0,.8);
	}

	.tag {
		margin-top: 300px;
		font-family: Lato-Regular;
		font-size: 24px;
		color: #B7B3AC;
		line-height: 29px;
		text-shadow: 0px 2px 4px rgba(0,0,0,0.50);
		text-transform: uppercase;

		em {
			color: #95A5A6;
			font-style: normal;
		}
	}

	.tag-sub {
		/* ONE “B” FOR BRAINS; : */
		font-family: Lato-Hairline;
		font-size: 15px;
		color: #bbb;
		line-height: 18px;
	}
}
