@import url(http://fonts.googleapis.com/css?family=Lato:100,400,900);

body {
	font-family: 'Lato', sans-serif;
}

#header {
	margin-top: 30px;
}

#footer {
	margin-top: 30px;
	padding-top: 30px;
	color: $gray-light;
}

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
	padding: 30px;
}

.aisc-big {
	margin-bottom: 6rem;
}

.section {
	padding-top: 6rem;
	padding-bottom: 6rem;

	h2 {
		font-family: Lato-Black;
		font-size: 24px;
		color: #313131;
		text-align: center;
		margin-bottom: 12rem;
	}

	.row {
		margin-bottom: 12rem;
	}

	p {
		font-family: Lato-Light;
		font-size: 20px;
		color: #404040;
		line-height: 26px;

		em {
			font-weight: normal;
		}
	}
}

.section.alt {
	background-color: #ECF0F1;

	h2 {
		color: #585858;
	}
}

.hero {
	height: 700px;
	background-color: #000;
	background-image: url('/images/welder.png');
	background-repeat: no-repeat;
	background-position-x: 50%;
	background-position-y: 100px;

	.text-layer {
		background-color: rgba(0,0,0,.8);
	}

	.tag {
		margin-top: 300px;
		font-family: Lato-Regular;
		font-size: 24px;
		color: #B7B3AC;
		line-height: 29px;
		text-shadow: 0px 2px 4px rgba(0,0,0,0.50);
		text-transform: uppercase;

		em {
			color: #95A5A6;
			font-style: normal;
		}
	}

	.tag-sub {
		/* ONE “B” FOR BRAINS; : */
		font-family: Lato-Hairline;
		color: #bbb;
		margin-bottom: 4rem;
	}

	.actions {
		/* About B&B: */
		font-family: Lato-Regular;
		font-size: 18px;
		color: #969696;
		background-color: #191919;
		border-radius: 5px;

		div {
			display: inline-block;
			height: 6rem;
			line-height: 6rem;
			padding-left: 1rem;
			padding-right: 1rem;

			img {
				margin-top: -4px;
			}

			p {
				display: inline-block;
			}
		}
	}
}

.memberships {
	background-color: #ECF0F1;

	img {
		height: auto;
		margin: 20px;
	}

	#aisc {
		width: 90px;
	}

	#aws {
		width: 250px;
	}

	#dundalk {
		width: 70px;
	}

	#asa {
		width: 90px;
	}
}

.about {
	background-color: #fff;
}

.testimonials {

}
