#header {
	margin-top: 30px;
}

#footer {
	margin-top: 30px;
	padding-top: 30px;
	color: $gray-light;
}

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}

.hero {
	height: 700px;
	background-color: #000;
	background-image: url('/images/welder.png');
	background-repeat: no-repeat;
	background-position-y: 100px;

	.logo {
		margin-top: 20px;
		margin-left: 20px;
	}
}
