@import "toolkit";

.email{
  text-decoration: none;
  color: #fff;
  &:hover{
    color: darken(#fff, 50%);
  }
}

.video-box{
  margin-top: 1rem;
}

.app {
  width: 320px;
  height: 100%;
  font-size: inherit;
  padding-top: 20px;

  .header {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    padding-bottom: 0;
  }
}

form {
  margin: 2rem 0rem;

  .control-group {
    label {
      min-width: 90px;
      padding-right: 10px;
      display: inline-block;
    }

    input {
      width: 260px;
      color: #000;
    }

    .hint {
      font-style: italic;
      margin-left: 100px;
      color: #bbb;
    }
  }

  .control-group.required {
    label::after {
      content: '*';
    }
  }
}


@media screen and (min-width: 200px) {
  .app {
    .logo {
      width: 107px;
      height: 80px;
    }
  }
}

@media screen and (min-width: 375px) {
  .app {
    width: 100%;

    .header {
      padding: 1rem;
    }

    .logo {
      width: 107px;
      height: 80px;
    }
  }
}

/* Tablet */
@media screen and (min-width: 768px) {
  .app {
    width: 100%;
  }
}

/* Desktop */
@media screen and (min-width: 1024px) {
  .app {
    width: 1024px;

    .logo {
      width: 147px;
      height: 120px;
    }
  }
}

/* HD */
@media screen and (min-width: 1440px) {
  .app {
    width: 1440px;
  }
}
