@import "toolkit";

.email{
  text-decoration: none;
  color: #fff;
  &:hover{
    color: darken(#fff, 50%);
  }
}

.video-box{
  margin-top: 1rem;
}

.app {
  width: 320px;
  height: 100%;
  font-size: inherit;
  padding-top: 20px;

  .header {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    padding-bottom: 0;
  }
}

//react lightbox

.react-lightbox {

}

.react-lightbox-image {
  width: 100%;
  height: 200px;
  background-size: cover;
  cursor: pointer;
}

.react-lightbox-overlay {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(25,25,25,0.8);
  transition: opacity 0.5s ease-in-out;
}

.react-lightbox-overlay-open {
  opacity: 1;
}

.react-lightbox-carousel-image {
  position: absolute;
  width: 90%;
  height: auto;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 2rem;
  background-size: cover;
  transition: transform 0.25s ease-in, opacity 0.25s ease-in;
  opacity: 1;
  transform: translate3d(0, 0, 0);
  box-shadow: 0 0 40px rgba(25, 25, 25, 0.5);
}

.my-controls {
  position: absolute;
  width: 600px;
  height: 100px;
  text-align: center;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
}
.my-button {
  font-size: 24px;
  background-color: #EAEAEA;
  border-radius: 50%;
  width: 50px;
  line-height: 50px;
  height: 50px;
  color: #333;
  cursor: pointer;
  font-weight: bold;
  font-family: 'Arial Black';
  opacity: 0.8;
}
.my-button:hover {
  background-color: #FFF;
}
.my-button-left {
  float: left;
}
.my-button-right {
  float: right;
}
//end react lightbox

form {
  margin: 2rem 0rem;

  .control-group {
    label {
      min-width: 90px;
      padding-right: 10px;
      display: inline-block;
    }

    input {
      width: 260px;
      color: #000;
    }

    .hint {
      font-style: italic;
      margin-left: 100px;
      color: #bbb;
    }
  }

  .control-group.required {
    label::after {
      content: '*';
    }
  }
}


@media screen and (min-width: 200px) {
  .app {
    .logo {
      width: 107px;
      height: 80px;
    }
  }
}

@media screen and (min-width: 375px) {
  .app {
    width: 100%;

    .header {
      padding: 1rem;
    }

    .logo {
      width: 107px;
      height: 80px;
    }
  }
}

/* Tablet */
@media screen and (min-width: 768px) {
  .app {
    width: 100%;
  }
}

/* Desktop */
@media screen and (min-width: 1024px) {
  .app {
    width: 1024px;

    .logo {
      width: 147px;
      height: 120px;
    }
  }
}

/* HD */
@media screen and (min-width: 1440px) {
  .app {
    width: 1440px;
  }
}
